<a href="https://colab.research.google.com/github/bkaanulgen/DeCanaria/blob/main/TCMB_Kur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install evds

Collecting evds
  Downloading evds-0.2.0-py3-none-any.whl (7.6 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from evds) (1.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from evds) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->evds) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->evds) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->evds) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->evds) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->evds) (1.16.0)
Installing collected packages: evds
Successfully installed evds-0.2.0

In [182]:
from evds import evdsAPI
import pandas as pd
import numpy as np
evds = evdsAPI('kvlUQV03Zp')

/usr/local/lib/python3.10/dist-packages/evds/__init__.py:42: FutureWarning: Could not cast to int64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  main_categories_df = pd.DataFrame(main_categories_raw, dtype="int")[["CATEGORY_ID","TOPIC_TITLE_" + self.lang]]

In [183]:
term = '2023-02'

term_year = term[:4]
term_month = term[-2:]
term_end_day = pd.Period('{}-01-{}'.format(term_month, term_year), freq='M').end_time.day

start_date_str = '01-{}-{}'.format(term_month, term_year)
end_date_str = '{}-{}-{}'.format(term_end_day, term_month, term_year)

data_list = ['TP.DK.AUD.A.YTL', 'TP.DK.CAD.A.YTL', 'TP.DK.CHF.A.YTL', 'TP.DK.DKK.A.YTL', 'TP.DK.EUR.A.YTL', 'TP.DK.GBP.A.YTL', 'TP.DK.JPY.A.YTL', 'TP.DK.KWD.A.YTL', 'TP.DK.NOK.A.YTL', 'TP.DK.SAR.A.YTL', 'TP.DK.SEK.A.YTL', 'TP.DK.USD.A.YTL']

In [184]:
df_evds_avg = evds.get_data(data_list, startdate = start_date_str, enddate = end_date_str, aggregation_types='avg', frequency = 5)
df_evds_end = evds.get_data(data_list, startdate = start_date_str, enddate = end_date_str)

/usr/local/lib/python3.10/dist-packages/evds/__init__.py:180: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data, dtype="float")
/usr/local/lib/python3.10/dist-packages/evds/__init__.py:180: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data, dtype="float")

In [185]:
df_avg = pd.DataFrame()
df_avg['Döviz'] = data_list
df_avg['Döviz'] = df_avg['Döviz'].apply(lambda x: x[6:9])
df_avg[term] = list(df_evds_avg.iloc[0, 1:])
df_avg = df_avg.sort_values('Döviz').set_index('Döviz')

df_avg['Ortalama'] = np.round(df_avg[term] * 1_000_000).astype(int).astype(str)
df_avg.loc['JPY', 'Ortalama'] = '{:.2f}'.format(np.round(df_avg.loc['JPY', term] * 10_000, 2))
df_avg

         2023-02   Ortalama
Döviz
AUD    13.002975   13002975
CAD    13.996405   13996405
CHF    20.325710   20325710
DKK     2.708290    2708290
EUR    20.193965   20193965
GBP    22.748675   22748675
JPY    14.171265  141712.65
KWD    61.161560   61161560
NOK     1.840845    1840845
SAR     5.016935    5016935
SEK     1.796715    1796715
USD    18.823310   18823310

In [186]:
df_evds_end_fix = df_evds_end
df_evds_end_fix = df_evds_end_fix[df_evds_end_fix.iloc[:,1].notnull()].sort_values('Tarih', ascending = False).head(1)

In [187]:
df_end = pd.DataFrame()
df_end['Döviz'] = data_list
df_end['Döviz'] = df_end['Döviz'].apply(lambda x: x[6:9])
df_end[term] = list(df_evds_end_fix.iloc[0, 1:])
df_end = df_end.sort_values('Döviz').set_index('Döviz')

df_end['Yıl Sonu'] = np.round(df_end[term] * 1_000_000).astype(int).astype(str)
df_end.loc['JPY', 'Yıl Sonu'] = '{:.2f}'.format(np.round(df_end.loc['JPY', term] * 10_000, 2))
df_end

       2023-02   Yıl Sonu
Döviz
AUD    12.6351   12635100
CAD    13.8499   13849900
CHF    19.9934   19993400
DKK     2.6703    2670300
EUR    19.9061   19906100
GBP    22.5272   22527200
JPY    13.8061  138061.00
KWD    61.0404   61040400
NOK     1.8127    1812700
SAR     5.0263    5026300
SEK     1.7904    1790400
USD    18.8632   18863200